

.container {
    height: 100vw;
    padding: 20px;
   
    text-align: center;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/d/d7/Sky.jpg');
    padding-left: 100px;
    padding-right: 100px;
   
    font-family: 'Courier New', Courier, monospace;
    color: #ffd1d1;
  }

