.ListItem{
    color: white;
    font-style: italic;
    padding-left: 10px;
    padding-right: 10px;
}


.button{
    background: transparent;
    border:1px solid rgb(220, 254, 255);
    padding: 2px;
    cursor: pointer;
    font-size: 9pt;
    color: rgb(220, 254, 255);
    font-family: 'Courier New', Courier, monospace;
    padding-left: 5px;
    padding-right: 5px;
    transition: all 0.1s ease-in;
}

.button:hover{
    color: white;
    
}

ul{
    list-style-type: none;
    
}
li:before{
    content:"✎";
    color: lightpink;
}